@using ДвижокНовостейЗМ.Models
@{
    ViewBag.Title = "Домашняя";
   // Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Домашняя</h2>
<p> Сегодняшняя дата @DateTime.Now.Day<i>.</i>@DateTime.Now.Month<i>.</i>@DateTime.Now.Year</p>
@Helper11.Human(new Human("Витя",10,"Москва"))
@Helper11.Human(new Human("Игорь", 15, "Санкт-Питербург"))
@Helper11.Human(new Human("Коля", 20, "Новосибирск"))<br />
<h3>Тестируем частичные представления</h3>
@Html.Action("_PartialMy","Default",new Human("Виктор",22,"Челябинск"))<br />
@Html.Partial("_PartialMy", new Human("Виктор", 42, "Челябинск"))
