@model IEnumerable<ДвижокНовостейЗМ.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            Tegs
        </th>
        <th>
            Ответов
        </th>
        <th>
            Последние 30 символов
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PubDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        string tags = String.Empty;
        foreach (var i in item.Tags)
        {
            tags += "\"" + i.Name + "\" ";
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @tags
            </td>
            <td>
                @item.Replys.Count
            </td>
            <td>
                @{
                    string text = String.Empty;
                    if (item.Replys.Count > 0) { text = item?.Replys?.Aggregate((x, y) => { if (x.Date < y.Date) return y; else return x; })?.Text; }
                    if (text != null) { text = text.Length > 30 ? text.Substring(text.Length - 30, 30) : text; }
                }
                @text
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
                    }

</table>
