@model PagedList.IPagedList<ДвижокНовостейЗМ.Models.Message>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Text)
        </th>
        <th>
            Теги
        </th>
        <th>
            Ответов
        </th>
        <th>
            Последние 30 символов
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PubDate)
        </th>
        <th>
            Автор
        </th>
        <th>Управление</th>
    </tr>

    @foreach (var item in Model)
    {

        string tags = String.Empty;
        foreach (var i in item.Tags)
        {
            tags += "\"" + i.Name + "\" ";
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @tags
            </td>
            <td>
                @item.Replys.Count
            </td>
            <td>
                @{
                    string text = String.Empty;
                    if (item.Replys.Count > 0) { text = item?.Replys?.Aggregate((x, y) => { if (x.Date < y.Date) return y; else return x; })?.Text; }
                    if (text != null) { text = text.Length > 30 ? text.Substring(text.Length - 30, 30) : text; }
                }
                @text
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avtor.UserName)
            </td>
            <td>
                @if (item.Replys.Count > 0)
                {
                    @Ajax.ActionLink("Показать ответы", "_Index", new { mId = item.Id }, new AjaxOptions() { UpdateTargetId = "ReplyDiv" }) @: |
                 }
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @: |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
                    }

</table>
<div id="ReplyDiv"></div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))